<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuarioServlet</servlet-name>
        <servlet-class>servlet.CadastrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarPublicacaoServlet</servlet-name>
        <servlet-class>servlet.CadastrarPublicacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicacaoServlet</servlet-name>
        <servlet-class>servlet.PublicacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPublicacaoServlet</servlet-name>
        <servlet-class>servlet.ExcluirPublicacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCadastroServlet</servlet-name>
        <servlet-class>servlet.FinalizarCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfilServlet</servlet-name>
        <servlet-class>servlet.EditarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarServlet</servlet-name>
        <servlet-class>servlet.BuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFundoServlet</servlet-name>
        <servlet-class>servlet.AlterarFundoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarioServlet</servlet-name>
        <url-pattern>/CadastrarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarPublicacaoServlet</servlet-name>
        <url-pattern>/CadastrarPublicacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicacaoServlet</servlet-name>
        <url-pattern>/PublicacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPublicacaoServlet</servlet-name>
        <url-pattern>/ExcluirPublicacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCadastroServlet</servlet-name>
        <url-pattern>/FinalizarCadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfilServlet</servlet-name>
        <url-pattern>/EditarPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarServlet</servlet-name>
        <url-pattern>/BuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFundoServlet</servlet-name>
        <url-pattern>/AlterarFundoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
